In [1]:
from DB_System.communication import DB_Handle, DataHandle
import pandas as pd

In [2]:
dbhandler = DB_Handle(db_name='kospi_fin')
datahandler = DataHandle()

good

In [3]:
sql = f'''select * from 제주항공 '''

In [4]:
res = dbhandler.fetch(sql)

In [5]:
res2 = datahandler.moving_average(data=res, column='ma20')

In [6]:
res2

,code,dates,clpr,oppr,hgpr,lwpr,volume,acpr,ma20
0,89590,2015-12-03,29979,30552,30552,29940,35115,1059026300,31785.35
1,89590,2015-12-04,29749,29826,30093,29290,21208,630394550,31433.55
2,89590,2015-12-07,28487,28296,29099,27952,436198,12431516000,31137.20
3,89590,2015-12-08,28946,28946,29290,28717,134397,3909798600,30949.85
4,89590,2015-12-09,29099,28525,29367,28487,48947,1418084300,30695.55
...,...,...,...,...,...,...,...,...,...
1753,89590,2023-01-19,16400,16350,16600,15950,666623,10933975350,14792.50
1754,89590,2023-01-20,16750,16350,16950,16100,661493,11004799900,14935.00
1755,89590,2023-01-25,16190,16820,16900,15850,1137683,18475949590,15049.50
1756,89590,2023-01-26,16070,16000,16300,15900,513798,8255311640,15155.50
1757,89590,2023-01-27,16100,16070,16160,15810,259803,4162647740,15228.00