In [1]:
import time
from tqdm import tqdm
import numpy as np
from copy import deepcopy
from dateutil.parser import parse
import datetime as dt
from pykrx import stock
import sys
sys.path.append('D:/ML/Kis_Api_test/')
from BackTesting_System.backtesting import BackTesting,Utils

In [2]:
import pandas as pd 
df_raw = pd.read_csv('../../../mom.csv', index_col=0)

In [3]:
def enter(df):
    df = deepcopy(df)
    buf = []
    for _, gdf in tqdm(df.groupby('종목명')):
        gdf['short_buy'] = (gdf['종가'].rolling(window=20, closed='left').max() < gdf['종가'])
        gdf['middle_buy'] = (gdf['종가'].rolling(window=55, closed='left').max() < gdf['종가'])
        gdf['buy'] = gdf['short_buy'] | gdf['middle_buy']
        buf.append(gdf)
    del df
    res = pd.concat(buf)
    return res

In [4]:
def make_tr(df):
    df = deepcopy(df)
    buf = []
    for _, gdf in tqdm(df.groupby('종목명')):
        gdf['con1'] = gdf['최고가'] - gdf['종가'].shift(1)
        gdf['con2'] = gdf['최저가'] - gdf['종가'].shift(1)
        buf.append(gdf)
    del df
    res = pd.concat(buf)
    res['con3'] = res['최고가'] - res['최저가']
    res['con1'] = res['con1'].abs()
    res['con2'] = res['con2'].abs()
    res['TR'] = res[['con1','con2','con3']].max(axis=1) 
    return res

In [5]:
def make_momentum(df):
    df = deepcopy(df)
    buf = []
    for _, gdf in tqdm(df.groupby('종목명')):
        gdf['short_mom'] = gdf['종가'] / gdf['종가'].shift(10)*100
        buf.append(gdf)
    del df
    res = pd.concat(buf)
    return res

In [7]:
def make_atr(df):
    df = deepcopy(df)
    buf = []
    for _, gdf in tqdm(df.groupby('종목명')):
        gdf['ATR'] = gdf['TR'].rolling(21).mean()
        buf.append(gdf)
    del df
    res = pd.concat(buf)
    return res

In [8]:
df_test = enter(df_raw)

100%|███████████████████████████████████████████████████████████████████████████████████████████████████████████████| 2436/2436 [00:03<00:00, 614.00it/s]

In [9]:
df_test1 = make_tr(df_test)

100%|███████████████████████████████████████████████████████████████████████████████████████████████████████████████| 2436/2436 [00:02<00:00, 890.96it/s]

In [12]:
df_test2 = make_atr(df_test1)

100%|██████████████████████████████████████████████████████████████████████████████████████████████████████████████| 2436/2436 [00:01<00:00, 1615.38it/s]

In [16]:
df_test2 = df_test2[df_test2['종목명'] == '삼성전자']

In [19]:
df_test2.drop(columns=['5_mom', '10_mom', '20_mom', 'short_buy', 'middle_buy', 'con1', 'con2', 'con3'], inplace=True)

C:\Users\SCH\AppData\Local\Temp\ipykernel_6680\2147795975.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_test2.drop(columns=['5_mom', '10_mom', '20_mom', 'short_buy', 'middle_buy', 'con1', 'con2', 'con3'], inplace=True)

In [20]:
df_test2

,날짜,종가,시가,최고가,최저가,누적거래량,누적거래대금,종목명,buy,TR,ATR
877204,2018-01-29,51220,51200,51480,50900,11838800,606585731237,삼성전자,False,580.0,NaN
877205,2018-01-30,49800,50440,50640,49780,12284550,616153770244,삼성전자,False,1440.0,NaN
877206,2018-01-31,49900,50020,54140,49600,64681300,3351453496000,삼성전자,False,4540.0,NaN
877207,2018-02-01,49820,50620,50960,49720,27609450,1385573101302,삼성전자,False,1240.0,NaN
877208,2018-02-02,47700,49380,49400,47700,29260350,1408721416002,삼성전자,False,2120.0,NaN
...,...,...,...,...,...,...,...,...,...,...,...
878412,2022-12-23,58100,58200,58400,57700,9829407,570401785680,삼성전자,False,1400.0,1142.857143
878413,2022-12-26,57900,58000,58100,57700,6756411,391223170600,삼성전자,False,400.0,1119.047619
878414,2022-12-27,58100,58000,58400,57900,10667027,620410096800,삼성전자,False,500.0,1085.714286
878415,2022-12-28,56600,57600,57600,56400,14665410,832919426100,삼성전자,False,1700.0,1128.571429
878416,2022-12-29,55300,56000,56200,55300,11295935,628653753150,삼성전자,False,1300.0,1095.238095

In [ ]:
df_raw.shift()

In [22]:
10000000 * 0.01

100000.0

In [24]:
df_test2['1N_N'] = 10000000*0.01/df_test2['ATR']

C:\Users\SCH\AppData\Local\Temp\ipykernel_6680\3351133072.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_test2['1N_N'] = 10000000*0.01/df_test2['ATR']

In [25]:
df_test2['1N_N']

877204          NaN
877205          NaN
877206          NaN
877207          NaN
877208          NaN
            ...
878412    87.500000
878413    89.361702
878414    92.105263
878415    88.607595
878416    91.304348
Name: 1N_N, Length: 1213, dtype: float64

In [26]:
df_test2['1unit'] = df_test2['1N_N'] *df_test2['종가']

C:\Users\SCH\AppData\Local\Temp\ipykernel_6680\1520988732.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_test2['1unit'] = df_test2['1N_N'] *df_test2['종가']

In [28]:
df_test2['1unit']

877204             NaN
877205             NaN
877206             NaN
877207             NaN
877208             NaN
              ...
878412    5.083750e+06
878413    5.174043e+06
878414    5.351316e+06
878415    5.015190e+06
878416    5.049130e+06
Name: 1unit, Length: 1213, dtype: float64