In [1]:
from DB_System.communication import DB_Handle, DataHandle
from BackTesting_System.backtesting import BackTesting

In [2]:
import pandas as pd

In [3]:
# dbhandler = DB_Handle(db_name='kospi_fin')
dh = DataHandle(db_name='kospi_fin')
bt = BackTesting()

In [4]:
df = dh.get_data_for_pjt(period='all', companys=['바이오노트', '제주항공'])

In [5]:
df['회사명'] = df['코드'].apply(lambda x: dh.KOSPI_CODES[x])

In [6]:
df

,코드,날짜,종가,시가,최고가,최저가,누적거래량,누적거래대금,회사명
0,377740,2022-12-22,10650,9980,11700,9930,28856232,309808795730,바이오노트
1,377740,2022-12-23,10150,10600,11200,10100,8180753,86595242100,바이오노트
2,377740,2022-12-26,9720,10550,10700,9650,4479667,45206813740,바이오노트
3,377740,2022-12-27,9360,9770,9880,9130,4101930,38365054640,바이오노트
4,377740,2022-12-28,8870,9390,9420,8700,3177379,28837782380,바이오노트
...,...,...,...,...,...,...,...,...,...
1796,089590,2023-01-19,16400,16350,16600,15950,666623,10933975350,제주항공
1797,089590,2023-01-20,16750,16350,16950,16100,661493,11004799900,제주항공
1798,089590,2023-01-25,16190,16820,16900,15850,1137683,18475949590,제주항공
1799,089590,2023-01-26,16070,16000,16300,15900,513798,8255311640,제주항공
1800,089590,2023-01-27,16100,16070,16160,15810,259803,4162647740,제주항공

In [7]:
bt.calc_mdd(df, '19500101', '20221231', '089590')

76.47

In [38]:
start = pd.to_datetime('19000101')
end = pd.to_datetime('20230115')
code = '377740'

In [39]:
condition = (df['날짜'] > start) & (df['날짜'] < end) & (df['코드'] == code)

In [42]:
df[condition].max()['종가']

10650

In [4]:
sql = f'''select * from 제주항공 '''

In [5]:
res = dbhandler.fetch_base(sql)
res = datahandler(res)

In [6]:
res

         코드         날짜     종가     시가    최고가    최저가    누적거래량        누적거래대금
0     89590 2015-11-06  36785  37856  39385  35255  3144622  117995303950
1     89590 2015-11-09  34414  37244  37588  33994   459701   16175815800
2     89590 2015-11-10  32693  33649  35791  32693   341823   11608062150
3     89590 2015-11-11  34185  33114  34988  32885   361457   12348714700
4     89590 2015-11-12  34950  34873  35485  34147   207591    7280780950
...     ...        ...    ...    ...    ...    ...      ...           ...
1772  89590 2023-01-19  16400  16350  16600  15950   666623   10933975350
1773  89590 2023-01-20  16750  16350  16950  16100   661493   11004799900
1774  89590 2023-01-25  16190  16820  16900  15850  1137683   18475949590
1775  89590 2023-01-26  16070  16000  16300  15900   513798    8255311640
1776  89590 2023-01-27  16100  16070  16160  15810   259803    4162647740

[1777 rows x 8 columns]

In [12]:
from pykrx import stock
stock.get_index_fundamental("20210101", "20210130", "1001")

                 종가   등락률        PER  선행PER   PBR  배당수익률
날짜
2021-01-04  2944.45  2.47  30.200001    0.0  1.19   1.44
2021-01-05  2990.57  1.57  30.680000    0.0  1.20   1.42
2021-01-06  2968.21 -0.75  30.450001    0.0  1.20   1.43
2021-01-07  3031.68  2.14  31.110001    0.0  1.22   1.40
2021-01-08  3152.18  3.97  32.349998    0.0  1.27   1.35
2021-01-11  3148.45 -0.12  32.310001    0.0  1.27   1.35
2021-01-12  3125.95 -0.71  32.080002    0.0  1.26   1.36
2021-01-13  3148.29  0.71  32.310001    0.0  1.27   1.35
2021-01-14  3149.93  0.05  32.330002    0.0  1.27   1.35
2021-01-15  3085.90 -2.03  31.670000    0.0  1.24   1.38
2021-01-18  3013.93 -2.33  30.950001    0.0  1.21   1.41
2021-01-19  3092.66  2.61  31.760000    0.0  1.25   1.37
2021-01-20  3114.55  0.71  31.990000    0.0  1.26   1.36
2021-01-21  3160.84  1.49  32.470001    0.0  1.27   1.34
2021-01-22  3140.63 -0.64  32.259998    0.0  1.27   1.35
2021-01-25  3208.99  2.18  33.020000    0.0  1.30   1.32
2021-01-26  3140.31 -2.14  32.279999    0.0  1.27   1.35
2021-01-27  3122.56 -0.57  32.099998    0.0  1.26   1.36
2021-01-28  3069.05 -1.71  31.549999    0.0  1.24   1.38
2021-01-29  2976.21 -3.03  30.590000    0.0  1.20   1.43

In [ ]:
dfs = stock.get_index_fundamental(start,end,code)

In [13]:
import pandas as pd

In [16]:
dbhandler.DB_NAME[:-4]

'kospi'

In [ ]:
pd.DataFrame()