In [1]:
from DB_System.communication import DB_Handle, Dar
import pandas as pd

In [2]:
dh = DB_Handle(db_name='kospi_fin')

good

In [3]:
sql = f'''select * from 제주항공 '''

In [4]:
dh.fetch(sql)

       code      dates   clpr   oppr   hgpr   lwpr   volume          acpr
0     89590 2015-11-06  36785  37856  39385  35255  3144622  117995303950
1     89590 2015-11-09  34414  37244  37588  33994   459701   16175815800
2     89590 2015-11-10  32693  33649  35791  32693   341823   11608062150
3     89590 2015-11-11  34185  33114  34988  32885   361457   12348714700
4     89590 2015-11-12  34950  34873  35485  34147   207591    7280780950
...     ...        ...    ...    ...    ...    ...      ...           ...
1772  89590 2023-01-19  16400  16350  16600  15950   666623   10933975350
1773  89590 2023-01-20  16750  16350  16950  16100   661493   11004799900
1774  89590 2023-01-25  16190  16820  16900  15850  1137683   18475949590
1775  89590 2023-01-26  16070  16000  16300  15900   513798    8255311640
1776  89590 2023-01-27  16100  16070  16160  15810   259803    4162647740

[1777 rows x 8 columns]